@model VoyadoTechCheck.Models.SearchModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Voyado Tech Check</h1>
</div>

<div class="text-center">
    <form method="post" asp-controller="Home" asp-action="Index">
        <input type="text" id="userInput" name="UserInput" value="@Model.UserInput" placeholder="Enter search query">
        <input type="submit" value="Submit">
    </form>
</div>

<div class="parent">

    @if (!ViewData.ModelState.IsValid)
    {
        <p>@Html.ValidationMessageFor(m => m.UserInput)</p>
    }
    else {
    <div class="child">
        <h5>Google Hits</h5>
        <p>@Model.TotalGoogleSearchHits</p>
    </div>

    <div class="child">
        <h5>Algolia Hits</h5>
        <p>@Model.TotalAlgoliaSearchHits</p>
    </div>
    }
</div>